//
   Created by chinna on 11/9/14.

section.container
    .row
        .col-lg-12
            .panel.panel-primary
                .panel-heading Admin Users
                .panel-body
                    .main-div
                        .col-xs-4.pull-left
                            select.input-sm(
                            name='selectWard',
                            ng-options='ward._serverData.wardName as ward._serverData.wardName for ward in wards',
                            ng-model='selectedWard',
                            ng-change='filterUsers()',
                            title='Users By Wards',
                            required)
                                option(value='',selected) -- All Wards --
                        .pull-right
                            input(type="search", class="input-sm", ng-model="searchKey", placeholder="enter mobile number", title='enter mobile number to search here.')
                            a.btn.btn-sm.btn-warning(ng-click='searchResult()')
                                i.glyphicon.glyphicon-search
                                |   Search
                        br
                        br
                        .table-responsive
                            table(class="table table-striped table-bordered table-condensed")
                                thead
                                    th #
                                    th User Id
                                    th User Name
                                    th Mobile Number
                                    th Ward
                                    th Role
                                    th Created At
                                    th Updated At
                                tbody
                                    tr(ng-repeat='user in users')
                                        td
                                            button.btn.btn-info.btn-sm#manage(ng-click="manageUser(user)")
                                                i.glyphicon.glyphicon-edit
                                                |   Manage
                                        td
                                            span {{ user.id }}
                                        td
                                            span {{ user._serverData.username }}
                                        td
                                            span {{ user._serverData.mobileNumber }}
                                        td
                                            span {{ user._serverData.ward }}
                                        td
                                            span {{ user._serverData.role }}
                                        td
                                            span {{ user.createdAt }}
                                        td
                                            span {{ user.updatedAt }}
                            .pull-right
                                button.btn.btn-info.btn-sm#prev(ng-click='pageBack()', ng-disabled='noPrevious')
                                    i.glyphicon.glyphicon-arrow-left
                                    |   Previous
                                button.btn.btn-info.btn-sm#next(ng-click='pageNext()', ng-disabled='noNext')
                                    |   Next
                                    | &nbsp;
                                    i.glyphicon.glyphicon-arrow-right

